<nav class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="nav-icon">&#9632;</span> Home
    </NavLink>
    <NavLink class="nav-link" href="chat">
        <span class="nav-icon">&#9993;</span> Chat
    </NavLink>
    <NavLink class="nav-link" href="sessions">
        <span class="nav-icon">&#8644;</span> Sessions
    </NavLink>
    <NavLink class="nav-link" href="channels">
        <span class="nav-icon">&#9776;</span> Channels
    </NavLink>
    <NavLink class="nav-link" href="memory">
        <span class="nav-icon">&#9881;</span> Memory
    </NavLink>
    <NavLink class="nav-link" href="skills">
        <span class="nav-icon">&#9733;</span> Skills
    </NavLink>
    <NavLink class="nav-link" href="settings">
        <span class="nav-icon">&#9874;</span> Settings
    </NavLink>
    <NavLink class="nav-link" href="logs">
        <span class="nav-icon">&#9744;</span> Logs
    </NavLink>
</nav>
